<%- include('includes/head.ejs') %>
  </head>

  <body>
    <%- include('includes/navigation.ejs') %>
    <h1>An Error Occurred</h1>
    <p>We are working on this problem. Sorry for this inconvenient.</p>
<%- include('includes/end.ejs') %>